* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f8f8f8;
  padding-bottom:500px;
}

header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 20px #ccc;
  z-index: 3;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav-top {
  display: block;
  background-color: #a5c926;
}

.wrapper-nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

.nav-top-info .nav-top-text {
  margin-right: 15px;
}

.nav-top-info .nav-top-email a {
  color: #fff;
}

.nav-top-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-top-social .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: all 0.6s;
}

.nav-top-social .social-link:hover {
  background-color: #88ac09;
  border-radius: 50%;
}

.nav-main {
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.nav-main .title {
  text-decoration: none;
  font-size: 20px;
  color: #111;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 100px;
}

.navigation .nav-menu .nav-menu-link {
  text-decoration: none;
  color: #111;
  padding: 18px;
}

.navigation .nav-menu .nav-menu-link:hover {
  text-decoration: underline;
}

.car {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.car p {
  font-size: 12px;
  color: #111;
}

.car img {
  padding: 0 10px;
}

.car .number-car {
  background-color: #88ac09;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}

.banner {
  background-image: url("../img/crianca-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /*opacity: 0.7;*/
  text-align: center;
  padding: 50px 100px;
  border-radius: 10px;
}

.banner .modal p {
  color: #a5c926;
  font-weight: bold;
}

.banner .modal h1 {
  margin: 30px 0;
  font-size: 30px;
}

.banner .modal a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5c926;
  width: 160px;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  transition: all 0.2s linear;
}

.banner .modal a:hover {
  transform: scale(1.1);
}

.home-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 100px 0;
}

.home-categories > div {
  margin-right: 30px;
}

.home-category-card-yellow {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background-color: #ffc12c;
  border-radius: 20px;
  height: 200px;
  position: relative;
}

.home-category-card-red {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  background-color: #fb416b;
  border-radius: 20px;
  height: 200px;
  position: relative;
}

.home-category-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.card-yellow {
  align-items: flex-start;
}

.card-red {
  align-items: flex-end;
}

.home-categories .home-category-image-1 {
  width: 220px;
  height: 220px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.home-categories .home-category-image-2 {
  width: 220px;
  height: 220px;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.home-category-card-info h3 {
  color: #fff;
  font-size: 25px;
  padding-bottom: 25px;
}

.home-category-card-info a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  transition: all 0.2s linear;
  font-weight: bold;
}

.home-category-card-info a:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 20px #555;
}

.shop-header > span {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
}

.shop-header .shop-header-title {
  border-bottom: 2px solid #88ac09;
}

.shop-header h2 {
  margin-bottom: 40px;
  font-weight: 500;
}

.shop-header span a {
  text-decoration: none;
  padding-bottom: 5px;
  font-size: 12px;
  color: #000;
  border-bottom: 2px solid #ccc;
  height: 25px;
  font-weight: 500;
}

.shop-header span a:hover {
  border-bottom: 2px solid #88ac09;
  height: 25px;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 40px 30px;
  margin-bottom: 100px;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 24px 40px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 2px 2px 2px #ccc;
  transition: all 0.2s linear;
}

.product-card:hover {
  box-shadow: 2px 2px 8px #ccc;
  transform: scale(1.1);
}

.products-cards > a {
  margin-right: 23px;
  margin-top: 15px;
}

.product-card img {
  width: 182px;
  height: 182px;
  display: inline-block;
  margin-bottom: 30px;
}

.product-card .product-title {
  color: #111;
  margin-bottom: 15px;
}

.product-card .price-product {
  background-color: #a5c926;
  padding: 5px 8px;
  border-radius: 10px;
  color: #fff;
}

.parallax {
  background-image: url("/assets/img/parallax-unsplash.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-video {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: inherit;
}

.section-video-description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  width: 65%;
  text-align: center;
  color: #fff;
}

.section-video-description p {
  margin-bottom: 18px;
  font-weight: 500;
}

.section-video-description h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
}

.section-video-description .section-video-text {
  margin-bottom: 30px;
}

.section-video-description a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0 10px;
  background-color: #8bc34a;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.section-video-description a:hover {
  transform: scale(1.1);
}

.section-video-description a img {
  width: 60px;
  height: 60px;
}

.section-more-about{
  padding: 150px 0;
}

.more-about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.more-about-subtitle{
  width: 500px;
  text-align: center;
}

.more-about-subtitle p {
  color: #88ac09;
  margin-bottom: 20px;
}

.more-about-subtitle h2 {
  font-weight: 500;
  font-size: 32px;
}

.more-about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-about-info{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 100px;
}

.more-about-info h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 40px;
}

.more-about-info .line {
  height: 2px;
  width: 15%;
  background-color: #88ac09;
}

.more-about-info p {
  color: #999;
  line-height: 28px;
  margin: 28px 0;
  text-align: justify;
}

.more-about-info a {
  display: block;
  background-color:#a5c926;
  text-align: center;
  width: 30%;
  padding: 15px 30px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight:400;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.more-about-info a:hover {
  transform: scale(1.1);
}

.more-about-image{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.more-about-image img {
  width: 570px;
  height: 424px;
  border-radius: 16px;
}